*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}


/*FOOTER*/
.footer{
    text-align: center;
    margin-top: 1rem;
    
    
}


.footer__copyright{
    color: grey;
    
    font-size: 1rem;
    padding: 1rem;
    
}

.formulario{
	width:50%;
	padding-top:2rem;
	border-radius:1rem;
	margin:auto;
	justify-content: center;
    text-align: center;
}
.formulario__h1{
    color:rgb(2, 29, 83);
    font-family: "Lucida Console", "Courier New", monospace;
    animation: fadeInTopLeft;
    animation-duration: 2s;
    

}
.formulario__titulo{
	width:50%;
	 
    
    
}

.formulario__titulo--campo 


{
	width:75%;
	padding:1px;
	border:2px solid black;
	border-radius:3px;
	background-color:#f6f6f6;
	display:inline-block;
    margin: 0.3rem;
    justify-content: center;
    
    
    
    
}


.formulario__boton{
	width:80%;
	padding:8px 16px;
	margin:5px;
	border:1px solid #000;
	border-radius:5px;
	justify-content: center;
	color:#fff;
	background-color:rgb(2, 29, 83);
    
} 



.formulario__boton:hover{
	color: gray;
    background-color:rgb(2, 29, 83, 0.9);
    border:0.3px solid #fff;
}


.formulario__texto{
	width:95%;
	height:10rem;
	border:2px solid black;
	border-radius:3px;
	background-color:#f6f6f6;
    			
	
	resize:none;
	
    justify-content: center;
}
.formulario__titulo--newsletter{
    font-size: 1.2rem;
    text-align: left;
    margin: 1rem;
    font-weight: bold;
	font-family: "Lucida Console", "Courier New", monospace;
	display:inline-block;
    
   
    

}
.formulario__radio--gnc,.formulario__radio--0km{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(2, 29, 83);
    font-family: "Lucida Console", "Courier New", monospace;

}

.formulario__radio{
    font-size: 1.5rem;
    
    
    
}
.formulario__select{
    border:2px solid black;
    border-radius:3px;  
    margin: 1rem;
    justify-content: center;
}
.cotizacion  {
    width: 100%;
    min-height: 90vh;
    background: url("../img/fondo.svg") center fixed ;
    background-size: cover;
    margin: auto;
    background-color: lightsteelblue;
}

#textoCoti{
    font-size: 2rem;
    padding: 1rem;
   
}
#listadoCotizaciones{

    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    
}

.cotizacionTexto{
    background-color: rebeccapurple;
    margin: 1rem,0;
    padding: 1rem;

}
#totalCotizado{
    display: flex;
    justify-content: right;
}
#btnVolver{
    width:20%;
	padding:8px 16px;
	margin:5px;
	border:1px solid #000;
	border-radius:5px;
	justify-content: center;
	color:#fff;
	background-color:rgb(2, 29, 83);
}
#btnLimpiar{
    width:20%;
	padding:8px 16px;
	margin:5px;
	border:1px solid #000;
	border-radius:5px;
	justify-content: center;
	color:#fff;
	background-color:rgb(2, 29, 83);
}
#botones{
    width: 100%;
    flex-direction: row;
    text-align: center;
}
#btnDescrip{
    width:20%;
	padding:8px 8px;
	margin:5px;
	border:1px solid #000;
	border-radius:5px;
	justify-content: center;
	color:#fff;
	background-color:rgb(2, 29, 83);
}
#detalleCoti{
    display: none;
}

#detalleCoti{
    width: 100%;
    align-items: center;  
  flex-direction: column;
}
#detalleCoti2{
    margin: 2rem;
    background-color: bisque;
    font-size: 2rem;
    padding: 2rem;
}
.cotizacionTexto2{
    text-align: center;
}